@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import "variables";
@import "mixins";
html,
body {
    height: 100%;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    .masthead-brand {
        padding: 40px 0;
        img {
            @include vendor-prefix(transition, all 1s ease);
            &.flipped {
                @include vendor-prefix(transform, rotate(45deg));
            }
        }
    }
}
